<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head', {title: 'Login' , noValidate: true}) %>
    <link rel="stylesheet" href="/css/login.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
      integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/login.js" defer></script>
</head>

<body>
  <div class="container">
    <h1 class="title">Entrar</h1>
    <form method="post" action="/users/login">
      <div class="inputs">
        <div class="input-field">
          <label for="email">Email</label>
          <div class="input-container">
            <input required placeholder="Informe seu email" type="email" name="email" id="email">
            <i class="fa-solid fa-user"></i>
          </div>
        </div>
        <div class="input-field">
          <label for="password">Senha</label>
          <div class="input-container">
            <input required placeholder="Informe sua senha" type="password" name="password" id="password">
            <i class="fa-solid fa-lock"></i>
          </div>
        </div>
      </div>

      <input class="button" type="submit" value="Entrar">
    </form>
  </div>

  <% if (error) { %>
    <div class="modal-container">
      <div class="modal-error">
        <i onclick="closeModal()" class="fa-solid fa-xmark"></i>
        <div class="modal-desc">
          <%= message %>
        </div>
      </div>
    </div>
    <% } %>
</body>

</html>