<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head', {title: 'Login' , noValidate: true, noNav: true}) %>
</head>

<body class="vw-100 vh-100 d-flex justify-content-center align-items-center">

  <div class="card col-11 col-md-6 col-lg-4">
    <div class="card-body">
      <i class="fa-solid fa-circle-user text-center w-100 mb-4" style="font-size: 5rem;"></i>
      <form action="/users/login" method="post">
        <div class="form-floating mb-3">
          <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Informe seu Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Informe sua Senha</label>
        </div>

        <button type="submit" class="btn btn-primary">Entrar</button>
      </form>
    </div>
  </div>

</body>

</html>