@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

:root {
  --blue1: #012a4a;
  --blue2: #013a63;
  --blue3: #01497c;
  --blue4: #014f86;
  --blue5: #2a6f97;
  --blue6: #2c7da0;
  --blue7: #468faf;
  --blue8: #61a5c2;
  --blue9: #89c2d9;
  --blue10: #a9d6e5;
}
