@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, sans-serif;
}

:root {
  --pink1: #f72585;
  --pink2: #b5179e;
  --purple1: #7209b7;
  --purple2: #560bad;
  --purple3: #480ca8;
  --blue1: #3a0ca3;
  --blue2: #3f37c9;
  --blue3: #4361ee;
  --blue4: #4895ef;
  --blue5: #4cc9f0;
}

ul {
  list-style: none;
}
