<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: 'Restaurante' , noValidate: false, noNav: false}) %>
</head>

<body>
  <%- include('../partials/navbar', { username: user.name, active: 'home' , admin: user.isAdmin }) %>
    addFuncionario
</body>

</html>