<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: 'Restaurante' , noValidate: false, noNav: false}) %>
</head>

<body>
  <%- include('../partials/navbar', { username: user.name, active: 'gestao' , admin: user.isAdmin } ) %>


    <div class="container">
      addProd
    </div>
</body>

</html>