<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: 'Restaurante' , noValidate: false, noNav: false}) %>
</head>

<body onload="onLoad()">

  <div id="loading" class="vw-100 vh-100 bg-dark d-flex align-items-center justify-content-center flex-column">
    <h1 class="h1 text-white">Seja bem-vindo</h1>
    <div class="form-floating mt-4">
      <input type="email" class="form-control" id="inputMesa" placeholder="name@example.com">
      <label for="inputMesa">Infome o número de sua mesa</label>
    </div>
    <button onclick="mostrarCardapio()" class="btn btn-lg btn-outline-light mt-4">Abrir cardapio</button>
  </div>

  <div id="cardapio" class="container-fluid d-none">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">Cardapio</span>
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item" onclick="loadSalao()">
              <a class="text-white nav-link align-middle px-0">
                <i class=" fa-solid fa-list"></i> <span class="ms-1 d-none d-sm-inline">Todos</span>
              </a>
            </li>
            <% for( let index=0; index < categorias.length; index++ ) { %>
              <li class="nav-item">
                <a class="text-white nav-link align-middle px-0" onclick="filter('<%= categorias[index].desc %>')">
                  <i class=" fa-solid fa-list"></i> <span class="ms-1 d-none d-sm-inline">
                    <%= categorias[index].desc %>
                  </span>
                </a>
              </li>
              <% } %>
          </ul>
          <hr>
          <div class="dropdown pb-4">
            <a class="d-flex align-items-center align-middle text-white text-decoration-none dropdown-toggle"
              id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i>
              <span class="d-none d-sm-inline ms-2">Atendente</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
              <li onclick="showModalPedidos()"><a class="dropdown-item">Meus pedidos</a></li>
              <li onclick="chamarAtendente()"><a class="dropdown-item">Chamar atentende</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col py-4 overflow-auto vh-100">

        <div id="cardcontainer" class="row justify-content-evenly gap-4 ">
          <!-- Conteudo via javascript -->
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="salaoModal" tabindex="-1" aria-labelledby="salaoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="salaoModalLabel">Produto <span id="salaoNome"></span></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="col-12 text-center mb-5">
            <img id="salaoImagem" class="img-thumbnail w-full">
          </div>
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="salaoProduto" placeholder="Nome do produto">
              <label for="salaoProduto">Produto</label>
            </div>
            <div class="form-floating mb-3">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" onclick="decremento()" class="quantity-left-minus btn btn-danger btn-number"
                    data-type="minus" data-field="">
                    <i class="fa-solid fa-minus"></i>
                  </button>
                </span>
                <input type="number" id="salaoQuant" name="quantity" class="form-control input-number" value="1" min="1"
                  max="100">
                <span class="input-group-btn">
                  <button type="button" onclick="incremento()" class="quantity-right-plus btn btn-success btn-number"
                    data-type="plus" data-field="">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="salaoAdicionais" placeholder="Nome do produto">
              <label for="salaoAdicionais">Adicionais</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-warning" id="salaoBtnSalvar">Adicionar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="salaoModalPedidos" tabindex="-1" aria-labelledby="salaoModalPedidosLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="salaoModalPedidosLabel">Pedidos mesa <span id="salaoPedidosMesa"></span></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-hover table-striped">
            <thead class="table-dark">
              <tr>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Preço</th>
              </tr>
            </thead>
            <tbody id="salao-pedidos-table">

            </tbody>
          </table>

          <div class="mt-3">
            <strong>Total: <span id="salaoPrecoTotal"></span></strong>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" data-bs-target="#salaoModalPedidos2" id="btnFinalizar"
            class="btn btn-success">Finalizar</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="salaoModalPedidos2" tabindex="-1" aria-labelledby="salaoModalPedidos2Label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="salaoModalPedidos2Label">Aguarde...</h5>
        </div>
        <div class="modal-body">

          <p class="text-center mt-3">Um de nossos atendendes já foi acionado, aguarde a liberação para sair</p>

          <div class="mt-3">
            <strong>Total: <span id="salaoPrecoTotal2"></span></strong>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" id="btnSair2" type="button" disabled>
            <span class="spinner-border spinner-border-sm" id="btnLoading" role="status" aria-hidden="true"></span>
            Sair
          </button>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"
    integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/salao.js" defer> </script>
</body>

</html>