<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: 'Restaurante' , noValidate: false, noNav: false}) %>
    <link rel="stylesheet" href="/css/gestao.css">
</head>

<body>
  <%- include('../partials/navbar', { username: user.name, active: 'salao' } ) %>

    salao
</body>

</html>