<header>
  <nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <p class="title is-2" id="navTitle">
          Olá, <%= username %>
        </p>
      </a>

      <a role="button" class="navbar-burger" onclick="showMenu()" id="navButton" aria-label="menu" aria-expanded="false"
        data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Inicio
        </a>

        <a class="navbar-item" href="/gestao/salao">
          Salão
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Gestão
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/gestao/funcionarios">
              Funcionarios
            </a>
            <a class="navbar-item" href="/gestao/produtos">
              Produtos
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" onclick="deslogar()">
                <strong>Deslogar</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
  </nav>
</header>