<header class="header">
  <p>
    Seja bem-vindo
    <span>
      <%= username %>
    </span>
  </p>
  <div class="menu">
    <img class="toggle-menu" onclick="showMenu()" src="<%= avatar %> " alt="Avatar url">
    <nav class="dropdown hide">
      <div onclick="deslogar()">Deslogar</div>
    </nav>
  </div>
</header>